<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>REST API v{{version}} Documentation</title>
        <meta name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <div class="page-header">
                <h1>
                    REST API Documentation
                    <span class="label label-primary">v{{version}}</span>
                </h1>
            </div>

            <ul>
                {{#handlers}}
                    <li><a href="{{file}}">{{name}}</a></li>
                {{/handlers}}
            </ul>
        </div>
    </body>

</html>
